params {
    
    bids2nf_config = "${projectDir}/bids2nf/bids2nf.yaml"
    libbids_sh = "${projectDir}/bids2nf/libBIDS.sh/libBIDS.sh"
    includeBidsParentDir = true
    // Local resource limits
    max_memory = '2 GB'
    max_cpus = 2
    max_time = '30m'
    
    debug_mode = true
    log_level = 'INFO'
    bids_validation = false
}

// Enable Docker for container processes
docker {
    enabled = true
}

process {
    executor = 'local'
    
    // More than enough
    memory = '1 GB'
    cpus = 1
    time = '30m'
    
    // Quick failure for development
    errorStrategy = 'terminate'
    maxRetries = 1
    
    // Local shell configuration, currently set for macos apple silicon
    // Only applied to libbids_sh_parse process
    withName: 'libbids_sh_parse' {
        shell = ['/opt/homebrew/bin/bash', '-ue']
    }

    withName: 'BIDS_VALIDATOR' {
        container = 'agahkarakuzu/bids-validator-arm64:latest'
    }
}

// Enable all reporting for development
timeline.enabled = true
report.enabled = true
trace.enabled = true
trace.overwrite = true
dag.enabled = true