# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

.claude
# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.nextflow*
work/
.DS_Store

hs_err_pid*
replay_pid*
new_outputs/
results/
dag-*.html
report-*.html
timeline-*.html
trace-*.txt